@import url('https://fonts.googleapis.com/css?family=Raleway');

header{
	width: 100%;
	margin: 0 auto;
   }

.header-wrapper{
	height: 50px;
	background-color: #00A987;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
  }
  
  nav{
	margin-right: 20px;
   }
  header img{
	height: 40px;
	margin: 5px;
  }
  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00A987;
  }	
  nav li{
	float: left;
	font-family: 'Raleway', sans-serif;
  }
nav a{
	display: block;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
}
nav li a:hover {
	background-color: #4682B4
}
nav li a:active {
	background-color: #3CB371;
}
  
	/* ============SLIDER================ */

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  background-color:blue;
}

/* Hide the images by default */
.mySlides {
    display: none;
}


/* Caption text */
.textslides {
	color: #f2f2f2;
	font-size: 3vw;
  padding: 8px 12px;
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
}
.textslides span{
	background-color: rgba(192, 3, 3, 0.473);
	padding: 10px;
	border-radius: 20px;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

 /* ==========ABOUT=============== */

.aboutblock{
	padding: 200px;
	background-color:  #25AAE1; /*#F37000 oranzine*/
	text-align: center;
	font-size: 50px;

	
}


   /* ==========KIDS TEACHERS VOLUNTIEERS=============== */
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; /*man su space around graziau atrodo, kai viena slieka lygiuoja centre*/
	
}
  
section{
	max-width: 30%;
	min-width: 300px;
	background-color: rgba(107,210,219, 0.3);
	padding: 15px;
	/* margin: 0 auto; */
}
  
h2{
	text-align: center;
}
  
.aboutkids, .aboutteachers, .aboutvolunteers{
	font-family: 'Paytone One', sans-serif;
	border-radius: 10%;
	background-color: #ffbe4f;
	color: #0c457d;
	font-size: 1em;
	padding: 15px;
	text-align: center;
}
  
.text{
	background-color: rgba(255,190,79);
	font-family: 'Patrick Hand', cursive;
	font-weight: bolder;
	color: black;
	padding: 10px;
	padding-left: 15px;
	border-radius: 5%;
}
/* ==========PARENT FEEDBACKS=============== */	
.parentfeedbacks{
	padding: 200px;
	background-color: #C44242;; /*#F37000 oranzine*/
	text-align: center;
	font-size: 50px;
}
	






/* ==========FOOTER=============== */	
footer{
	color: white;
	padding: 10px;
	font-size: 12px;
	background-color: #00A987;
}

.three-columns{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social{
	display: flex;
}

a>img{
	height: 30px;
	align-items: center;
	justify-items: center;
}

.contacts{
	justify-content: center;
	text-align: center;
	padding-left: 25px;
}

.goup{
	font-size: 15px;
	font-weight: bold;
	padding-left: 5px;
}

.goup:hover{
	background-color: #fff;
}






  
/* @media only screen and (max-width: 600px) {
  
section{
	max-width: 30%;
	min-width: 300px;
	padding: 10px;
	margin: 5px;
	align-items: center;
	margin: 0 auto;
	margin-top: 10px;
}
  
  
section:first-child{
margin-top: 0;
}

} */
