/*=====TODO=====*/
 a{
	color: inherit;
	text-decoration: none;
} 

@import url('https://fonts.googleapis.com/css?family=Raleway');

@media only screen and (min-width: 1201px){
	
		body {
			font-family: 'Raleway', sans-serif;
			font-size: 12pt;
			color: black;.column
		}
	header{
			min-width:100%;
			margin: 0 auto;
		}


a{
	text-decoration: none;
	color:#0c457d;
	padding:5px;
	}
		h2 {
		color: #0c457d;
		text-align:center;
		}

	.header-wrapper{
		background-color: #0c457d;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-around;
	}
	.header-wrapper img{
		height: 40px;
		margin: 5px;
	}

	a{
		text-decoration: none;
	}

	/* ============MENU================ */  
	nav{
		display: flex;
		align-items: center;
		margin-right: 20px;
	}
	nav:last-child{
		margin-right: 0px;
	}
	.navbar {
		overflow: hidden;
		background-color: #0c457d;
	
	}
	.navbar a {
		float: left;
		font-size: 16px;
		color: white;
		text-align: center;
		padding: 16px 16px;
		text-decoration: none;
	}

	.dropdown {
		float: left;
		overflow: hidden;
	}

	.dropdown .dropbtn, nav a {
		font-size: 16px;    
		border: none;
		outline: none;
		color: white;
		padding: 16px 16px;
		background-color: inherit;
		margin: 0;
	}

	.navbar a:hover, .dropdown:hover , nav a:hover{
		background-color: #0288d1;
		transition-duration: 1s;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #0c457d;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-content a {
		float: none;
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
		
	}

	.dropdown-content a:hover {
		background-color: #0288d1;
	}

	.dropdown:hover  .dropdown-content {
		display: block;
	}

	.hideondesktop{ display: none; }



	/* ============SLIDER================ */
	* {box-sizing:border-box}

	/* Slideshow container */
	.slideshow-container {
		width: 100%;
		position: relative;
		margin: auto;
		
	}

	/* Hide the images by default */
	.mySlides {
		display: none;
	}
	
	.numbertext {
		display: none;
	}
	
		/* Caption text */
	.textslides {
		color: #f2f2f2;
		font-size: 25px;
		padding: 8px 12px;
		position: absolute;
		bottom: 2%;
		width: 100%;
		text-align: center;
	}

	.textslides span{
		background-color: rgba(12,69,125, 0.8);
		padding: 10px;
		border-radius: 20px;
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}
	.active, .dot:hover {
		background-color: #0c457d;
		border: none;
		color:white;
	}

	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
		}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
		}

	/* ==========ABOUT=============== */

	.about-home{
		padding: 5px;
		background-color:  #e1f5fe; /*#F37000 oranzine*/
	}

	.faqdrop p{
		width: 100%;	
		margin: 0 auto;
		padding: 10px;
		font-size: 20px;
		color: #0c457d;
		text-align: justify;
	}
	
	
	/* ==========KIDS TEACHERS VOLUNTIEERS=============== */
		
	.KTVcontainer{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; 
		padding: 35px;
	}
	
	.KTVcontainer section, .lectors-wrapper section, .parentfeedbacks section {
		max-width: 30%;
		background-color: rgba(255, 255, 255, 0.075);
		padding: 15px;
	}

	.KTVcontainer section img {
		width: 80%;
		display: block; 
		padding: 10px;
		margin: 0px auto;	
	}

	.KTVcontainer section h2{
		text-align: center;
		}

	.KTVcontainer a {
		display:block;
		text-align:center;
		background-color:#0c457d;
		color: white;
		padding: 10px;
		margin:0px auto;
		text-decoration: none;
	} 

	.KTVcontainer section a:hover	{
		text-decoration: none;
	}
	
	.about{
		font-size: 1em;
		text-align: center;
	}
	
	.text{
		padding: 10px;
		text-align:justify;
	}
	.modal {
   		 display: none; /* Hidden by default */
   		 position: fixed; /* Stay in place */
    		z-index: 1; /* Sit on top */
    		padding-top: 50px; /* Location of the box */
   		padding-left:30%;
    		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	.modal-content {
	    position: relative;
	    background-color: #ffffff;
		margin:0 ;
		padding: 0;
	    border: 1px solid #888;
	    width: 50%;
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	    -webkit-animation-name: animatetop;
	    -webkit-animation-duration: 0.4s;
	    animation-name: animatetop;
	    animation-duration: 0.4s
	}
	.modalbtn {
		background-color: #0c457d;
		color: white;
		padding: 16px 16px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 270px;
	}
		
	.modalbtn:hover {
		background-color: #0288d1;
	}	

/* Add Animation */
	@-webkit-keyframes animatetop {
    	from {top:-300px; opacity:0} 
    	to {top:0; opacity:1}
	}

	@keyframes animatetop {
   	 from {top:-300px; opacity:0}
    	to {top:0; opacity:1}
	}

/* The Close Button */
	.close {
		padding: 5px 5px;
	   	color: white;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover, .close:focus {
   		 color: #0288d1;
   		 text-decoration: none;
    		cursor: pointer;
	}

	.modal-header {
    		padding: 2px 16px;
    		background-color: #0c457d;
    		color: white;
	}
	.modal-header h2{
		color:white;
	}

	.modal-body {
		padding: 30px;
		text-align: center;
	}

	
	.modal-body input[type=text],select {
		width: 80%;
		max-width:300px;
		padding: 10px;
		margin: 5px 0 10px 0;
		display: inline-block;
		border: 1px solid #dddddd;
		background: #ffffff;
	}



	/* ==========LECTORS=============== */	

	.lectors-wrapper, .lectors{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; 
		padding: 20px;
		background-color:#dddddd;
	}
		
	.lectors-wrapper h2{
		padding:10px;
		margin:0 auto;
	}
				
	.lectsection{
		max-width: 30%;
		min-width: 300px;
		background-color: #ffffff;
		padding: 10px;	
	}

	.lectsection img{
		display: block;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding:5px;
		margin-top:15px;
	}

	.lectinfo{
		text-align: justify;
		margin: 20px;	
		}
		
	.lectsection h3{
		text-align:center;
	}

	/* ==========PARENT FEEDBACKS=============== */	

	.parentfeedbacks{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; 
		padding: 20px;
		background-color: #e1f5fe;
	}	
			
	blockquote, q {
		quotes: none; 
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none; 
	}

	blockquote {
		border-left: solid 0.5rem;
		font-style: italic;
		margin: 0 0 2rem 2rem;
		padding: 1rem 0 1rem 2rem; 
	}

	blockquote {
		border-left-color: rgba(0, 0, 0, 0.25); 
		}

	.testimonials {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.testimonials > section{
		margin: 0 auto;
		justify-content: space-around;
	}
			
	.testimonials > * {
		width: 33.3333333333%;
		}

	.testimonials > * {
		width: calc(33.3333333333% + 1rem); 
	}

	.testimonials .content {
		height: 100%;
		padding: 1rem; 
	}

	.testimonials .content .author {
		display: flex;
		align-items: center; 
	}

	.testimonials .content .author blockquote {
		margin: 0; 
		}

	.testimonials .content .author .image {
		width: 20%; 
	}

	.testimonials .content .author .image img {
		border-radius: 100%;
		max-width: 100%; 
	}

	.testimonials .content .credit {
		font-size: 0.7rem; 
	}

	.testimonials .content {
		box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); 
	}

	.testimonials .content .credit strong {
		color: #0c457d;
	}

	.credit{
		padding-left: 0.5rem;
	}
	
	/* ==========Feedback form=============== */	
	
	
	.feedback{
		background-color:white;
		
		}
	.feedback h2{
		text-align:center;
	}
	
	.feedback section{
		width: 100%;
		padding:10px;
	}	
	
	.feedback form{
		width: 100%;
		margin-left: 40%;
	}
	.feedback form div{
		padding:1px;
	}
	.feedback input[type=text],.feedback textarea, .feedback input[type=number]{
		width: 100%;
		max-width:300px;
		padding: 10px;
		margin: 5px 0 5px 0;
		display: inline-block;
		border: 1px solid #dddddd;
		background: #ffffff;
	}
	
	.feedback input[name="empty"]{
		display: none;
	}
	.feedback button{
		background-color: #0c457d;
		color: white;
		padding: 16px 16px;
		margin-left:40px;
		border: none;
		cursor: pointer;
		width: 200px;
	}
	
	.feedback button:hover {
	background-color: #0288d1;
	}	
	
	

	/* ==========FOOTER=============== */	
	footer{
		color: white;
		padding: 10px;
		font-size: 12px;
		background-color: #0c457d;
		
	}

	.three-columns{
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}

	.three-columns > *{
		width:30%; 
	}

	.social{
		display: flex;
		justify-content: center;
	}

	a>img{
		height: 40px;
		align-items: center;
		
	}

	.contacts{
		text-align: center;
	}

	
	.copy span{
		color: #0288d1;
		font-weight: bold;
		font-size: 20px;
		padding-left: 5px;
	}

	.goup{
		font-size: 15px;
		font-weight: bold;
		
	}

	.goup:hover{
		background-color: #fff;
	}


/* ===============================PROGRAM PAGE================================== */
		.programkartu{
			display: flex;
			flex-wrap: warp;
			justify-content: center
		}
		.programkartu .
	-one{
			min-width: 100%;
		}
	
		.programkartu img{
			max-width: 20%;
			align-self: center;
		}
	

	
		.roww {
			display: -ms-flexbox; /* IE10 */
			display: flex;
			-ms-flex-wrap: wrap; /* IE10 */
			flex-wrap: wrap;
			padding: 0 4px;
		}
				
		/* Create four equal columns that sits next to each other */
		.columnn {
			max-width: 25%;
			padding: 0 4px;
			margin: 0 auto;
		}
		.columnn img {
			margin-top: 8px;
			vertical-align: middle;
			opacity: 0.90;
			transition: transform .2s;
		}

		.columnn img:hover{
			transform: scale(1.02);
			opacity: 1;
			cursor: pointer;
		}


	
	/* ===================================Information page============================== */

	.information{
		background-color:white; 	text-align: center;
		padding:10px;
	}
	.sektorius{
		width:100%;
	}

	.table-one{
		width: 80%;
		margin: 0 auto;
		text-align: left;
		border-collapse: collapse;
		background-color:white;
	}

	th {text-align:center;
		padding: 5px;
		background-color:#0c457d;
		color: white;
	}

	td, th {
		border: 1px solid #dddddd;
		padding: 5px 5px 5px 35px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}

	a.reg-button {
		display: block;
		text-align:center;
		background-color:#0c457d;
		color: white;
		padding: 10px;
		margin: 10px auto;
		font-weight: bold;	
		text-decoration: none;
		width: 200px;
	}

	/* ==========FAQ=============== */
	.faq{
		background-color:#e1f5fe;  
		text-align: center;
		padding:10px;
	}

	.faqdrop{
		text-align: center;
		display: block;
		width: 80%;
		margin: 10px auto;
		padding: 20px;
	}
	
	button{
		width: 100%;
		padding: 10px;
		border:2px solid #e1f5fe;
		background-color:white;
	}

	button:hover{
		background-color:rgb(170, 223, 255);
		cursor: pointer;
	}
	
	.panel {
		padding: 0 18px;
		background-color: white;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}

	.faqdrop ul{
		text-align: left;
		list-style:none;
		padding-left:20px;
		padding-right:20px;
	}

	.faqdrop li {
		margin-bottom:15px;
	}
		
	.accordion:after {
		content: '\02795'; /* Unicode character for "plus" sign (+) */
		font-size: 13px;
		color: #0c457d;
		float: right;
		margin-left: 5px;
	}
		
	.active:after {
		content: "\2796"; /* Unicode character for "minus" sign (-) */
	}
	
	/*==============FOOD==============*/
	.food{
		background-color: #dddddd;
		text-align:center;
		padding:10px;
	}

	.foodcontainer{
		display:grid;
		grid-template-rows:    repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1px;
		color: white;
		width: 80%;
		margin: 10px auto;
		padding: 20px;
		min-height: 600px;
		font-size: 20px;
	}

	.foodcontainer > div{
		background-color:#0288d1;
		}

	.one{
		grid-row:    1 / 2;
		grid-column: 1 / 2;
		text-align: justify;
		padding: 100px 30px;
		
	}

	.two{
		grid-row:    1 / 2;
		grid-column: 2 / 3 ;
		background-image: url(http://www.surfcamppeaksnswells.com/pns/wp-content/uploads/2015/07/food1.jpg);
		background-position: center;
		background-size: cover;	
	}

	.three{
		grid-row:    2 / 3;
		grid-column: 1 / 2;
		background-image: url(https://img.purch.com/h/1000/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA3My80MzYvb3JpZ2luYWwva2lkcy1waXp6YS0xNTAxMTkuanBn);
		background-position: center;
		background-size: cover;
	}

	.four{
		grid-row:    2 / 3;
		grid-column: 2 / 3;
		padding: 100px 30px;
		text-align: justify;
	}
	/* ==========Location=============== */	
		
	.location{
		background-color: #ffffff;
		padding:10px;
		text-align:center;
	}

	.two-col{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width:80%;
		margin: 0 auto;
	}

	iframe{
		width:70%;
		height: 450px;
		padding: 20px 0;
	}

	/* =============================About Site======================================= */

	.missionblock, .historyblock {
		background-color:white;
		padding:10px;
	}

	.goulsblock , .safetyblock{
		padding: 10px;
		background-color:#e1f5fe;
	}

	.valuesblock , .resultsblock{
		padding: 10px;
		background-color:#dddddd;
	}
		
	.aboutsection { 
		display:flex;
		width:80%;
		margin:0 auto;
		padding:10px;
		align-items: center;
	}
	
	.aboutsection_order {
		display:flex;
		width:80%;
		margin:0 auto;
		padding:10px;
		align-items: center;
	}


	.aboutsection  img{
		/* width:30%; */
		padding:10px;
	}

	.aboutsection p{
		width:70%;
		margin:10px;
		text-align: justify;
	
	}

	.aboutsection_order p{
		width:70%;
		margin:10px;
		text-align: justify;

	}
		
	
	/* =======================================SPONSORS==================================== */

	.sponsors-section{
		padding: 25px 50px;
		text-align: center;
	}

	.boxed-section {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: center;
		flex-basis: auto;
		position: relative;
		height: auto;
		padding: 50px 50px;
	}

	.boxed-section>* {
		margin: 0px 40px 40px 0px;
	}

	.boxed-section a div {
		width: 200px;
		height: 120px;
	}

	.highlight-box>div {
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		box-shadow: 4px 4px 10px rgba(146,137,224,.4);
		border: 1px solid rgba(146,137,224,.1);
	}


	/*=============================BLOG full screen================================*/

	.container-fluid{
		margin:0 auto;
		width: 80%;
	}

	.sectionb{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-start;
		text-align: justify;
		padding-bottom:30px;
	
	}
	.sectionb h3{
		text-align: center;
	}
    .sectionb a:{
		text-decoration: none;
		text-align:center;
		padding:10px;
		
					
	}
	.sectionb a:hover{
		text-decoration: none;	
		color: #0288d1;
	}
		
	article.card{
		max-width: 32%;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		margin-top: 20px;
		background-color:  #f1f1f1; 
	}
	
	.card p {
		padding:15px;
	}
	.card__image{
		padding-top: 66.64%; 
			/* becouse background has no height and we dont want to set it in px
			/* (img-height / img-width * container-width) */
						/* (853 / 1280 * 100) */
		width: 100%;
		height: 0; 
		background-size: contain;
		background-repeat: no-repeat;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin:5px;
	}

	/* ==========PAGE Contact US  =============== */	
	.Contusc{
		margin: 0 auto;
		width: 80%;
		display:flex;
		justify-content: space-around;
		flex-wrap: wrap;
		}
	.Contusc h2{
		text-align=center;
	}
	
	.Contusc div{
		width: 50%;
		text-align:left;
		background-color:inherit;
		padding:20px;
	}	
	
	.Contusc form{
		width: 80%;
	}
	.Contusc form div{
		padding:1px;
	}
	.Contusc input[type=text], textarea {
		width: 100%;
		max-width:300px;
		padding: 10px;
		margin: 5px 0 10px 0;
		display: inline-block;
		border: 1px solid #0c457d;
		background: #ffffff;
	}
	
	.Contusc button{
		background-color: #0c457d;
		color: white;
		padding: 16px 16px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 200px;
	}
	
	.Contusc button:hover {
	background-color: #0288d1;
	}	
	
	.Contusc .location{
		width: 50%;
		text-align:left;
		background-color:inherit;
	}

	.Contusc .location p{
		margin-left:40px;
	}
	.Contusc .two-col{
		align-items: center;
		width:100%;
		margin: 0 auto;
	}
		
	.Contusc iframe{
		width:100%;
		height: 450px;
		padding: 0;
	}
	/* ==========BLOG POST  =============== */
	.blog-default{
		display: flex;
		flex-flow: column;
		width: 80%;
		margin: 0 auto;
		padding: 20px;
	}
	.blog-default img{
		width: 80%;
		margin: 0 auto;
		padding:10px;
		
	}
	.blog-default p {
		text-align:justify;
		margin: 0;
		padding: 5px;
	}
	
	.blog-default ul{
		list-style: none;
		text-align:left;
		padding:0px 5px 5px 5px;}
	
	.blog-default li {
		text-align:justify;
		padding:0px 5px 5px 5px;
		}
	
 .blog-default h3 {
		text-align:left;
		color:#0c457d;
		margin:5px;}
}

/* ========================================TABLET========================================== */

 

@media only screen and (min-width: 601px) and (max-width: 1200px){

	
	body {
		font-family: 'Raleway', sans-serif;
		font-size: 12pt;
		color: black;
		}

	header{
			min-width:100%;
			margin: 0 auto;
		}


	a{text-decoration: none;
	color:#0c457d;
	padding:5px;
	} 

	h2 {
		color: #0c457d;
		text-align:center;
		}

	.header-wrapper{
		background-color: #0c457d;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-around;
	}
	.header-wrapper img{
			height: 30px;
			margin-top: 10px; 
		}
	/* ============MENU================ */  
	nav{
		display: flex;
		align-content: center;
		margin-right: 20px;
	}
	nav:last-child{
		margin-right: 0px;
	}

	.navbar {
		overflow: hidden;
		background-color: #0c457d;
	}

	.navbar a {
		float: left;
		font-size: 15px;
		color: white;
		text-align: center;
		padding: 16px 10px;
		text-decoration: none;
	}

	.dropdown {
		float: left;
		overflow: hidden;
	}

	.dropdown .dropbtn, nav a {
		font-size: 16px;    
		border: none;
		outline: none;
		color: white;
		padding: 16px 16px;
		background-color: inherit;
		margin: 0;
	}

	.navbar a:hover, .dropdown:hover , nav a:hover{
		background-color: #0288d1;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #0c457d;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-content a {
		float: none;
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.dropdown-content a:hover {
		background-color: #0288d1;
	}

	.dropdown:hover  .dropdown-content {
		display: block;
	}

	.hideondesktop{ display: none; }

/*========================HOME PAGE=========================*/

	/* ============SLIDER================ */
	* {box-sizing:border-box}

	/* Slideshow container */
	.slideshow-container {
		width: 100%;
		position: relative;
		margin: auto;
		
	}

	/* Hide the images by default */
	.mySlides {
		display: none;
	}
	.numbertext {
		display: none;
	}
	
		/* Caption text */
	.textslides {
		color: #f2f2f2;
		font-size: 3vw;
		padding: 8px 12px;
		position: absolute;
		bottom: 2%;
		width: 100%;
		text-align: center;
	}

	.textslides span{
		background-color: rgba(12,69,125, 0.8);
		padding: 10px;
		border-radius: 20px;
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}
	.active, .dot:hover {
		background-color: #0c457d;
		border: none;
		color:white;
	}

	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
		}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
		}

	/* ==========ABOUT=============== */

	.about-home{
		padding: 5px;
		background-color:  #e1f5fe; /*#F37000 oranzine*/
		/* text-align: center; */
	}
	.faqdrop p{
		width: 100%;	
		margin: 0 auto;
		padding: 10px;
		font-size: 15px;
		color: #0c457d;
		text-align: justify;
	}
	/* ==========KIDS TEACHERS VOLUNTIEERS=============== */
		
	.KTVcontainer{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; 
		padding: 10px;
		margin: 0 auto;
	}

	.KTVcontainer section, .lectors-wrapper section, .parentfeedbacks section {
		max-width: 33%;
		background-color: rgba(255, 255, 255, 0.075);
		margin-bottom: 10px;
	}

	.KTVcontainer section img {
		display: block; 
		margin: 0px auto;
		width: 90%;	
	}

	.KTVcontainer section h2{
		text-align: center;
		}

	.KTVcontainer a {
		display:block;
		text-align:center;
		background-color:#0c457d;
		color: white;
		padding: 10px;
		margin:0px auto;
		text-decoration: none;
	} 

	.KTVcontainer section a:hover	{
		text-decoration: none;
	}

	.about{
		font-size: 1em;
		text-align: center;
	}

	.text{
		padding: 10px;
		text-align:justify;
	}
	.regbtn{
		width: 25%;
		opacity: 0.8;
  		transition: 0.3s;
		padding-bottom:10px;
	}
	.regbtn:hover{
		opacity: 1;
	}


		/*---------modal-------------*/
		.modal {
			display: none; /* Hidden by default */
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			padding-top: 50px; /* Location of the box */
		   padding-left:30%;
			top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	.modal-content {
		position: relative;
		background-color: #ffffff;
		margin:0 ;
		padding: 0;
		border: 1px solid #888;
		width: 70%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}
	.modalbtn {
		background-color: #0c457d;
		color: white;
		padding: 16px 16px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 50%;
	}

	.modalbtn:hover {
		background-color: #0288d1;
	}	

	/* Add Animation */
	@-webkit-keyframes animatetop {
		from {top:-300px; opacity:0} 
		to {top:0; opacity:1}
	}

	@keyframes animatetop {
		from {top:-300px; opacity:0}
		to {top:0; opacity:1}
	}

	/* The Close Button */
	.close {
		padding: 5px 5px;
		   color: white;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover, .close:focus {
			color: #0288d1;
			text-decoration: none;
			cursor: pointer;
	}

	.modal-header {
			padding: 2px 16px;
			background-color: #0c457d;
			color: white;
	}
	.modal-header h2{
		color:white;
	}

	.modal-body {
		padding: 30px;
		text-align: center;

	}

	.modal-body input[type=text],select {
		width: 90%;
		max-width:400px;
		padding: 10px;
		margin: 5px 0 10px 0;
		display: inline-block;
		border: 1px solid #dddddd;
		background: #ffffff;
	}
	/* ==========LECTORS=============== */	

	.lectors-wrapper, .lectors{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; 
		padding: 10px;
		background-color:#dddddd;
	}
		
	.lectors-wrapper h2{
		padding:10px;
		margin:0 auto;
	}
				
	.lectsection{
		max-width: 33%;
		background-color: #ffffff;
		padding: 10px;	
	}

	.lectsection img{
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding:5px;
		margin-top:15px;
	}

	.lectinfo{
		text-align: justify;
		margin: 20px;	
		}
		
	.lectsection h3{
		text-align:center;
	}

	/* ==========PARENT FEEDBACKS=============== */	

	.parentfeedbacks{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; 
		padding: 20px;
		background-color: #e1f5fe;
	}	
			
	blockquote, q {
		quotes: none; 
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none; 
	}

	blockquote {
		border-left: solid 0.5rem;
		font-style: italic;
		margin: 0 0 2rem 2rem;
		padding: 1rem 0 1rem 2rem; 
	}

	blockquote {
		border-left-color: rgba(0, 0, 0, 0.25); 
		}

	.testimonials {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.testimonials > section{
		margin: 0 auto;
		justify-content: space-around;
	}
			
	.testimonials > * {
		width: 33.3333333333%;
		}

	.testimonials > * {
		width: calc(33.3333333333% + 1rem); 
	}

	.testimonials .content {
		height: 100%;
		padding: 1rem; 
	}

	.testimonials .content .author {
		display: flex;
		align-items: center; 
	}

	.testimonials .content .author blockquote {
		margin: 0; 
		}

	.testimonials .content .author .image {
		width: 20%; 
	}

	.testimonials .content .author .image img {
		border-radius: 100%;
		max-width: 100%; 
	}

	.testimonials .content .credit {
		font-size: 0.7rem; 
	}

	.testimonials .content {
		box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); 
	}

	.testimonials .content .credit strong {
		color: #0c457d;
	}

	.credit{
		padding-left: 0.5rem;
	}
/* ==========Feedback form=============== */	
	
	
	.feedback{
		background-color:white;
		
		}
	.feedback h2{
		text-align:center;
	}
	
	.feedback section{
		width: 90%;
		padding:10px;
	}	
	
	.feedback form{
		width: 100%;
		margin-left: 35%;
	}
	.feedback form div{
		padding:1px;
	}
	.feedback input[type=text],.feedback textarea, .feedback input[type=number] {
		width: 100%;
		max-width:300px;
		padding: 10px;
		margin: 5px 0 10px 0;
		display: inline-block;
		border: 1px solid #dddddd;
		background: #ffffff;
	}
	
	.feedback input[name="empty"]{
		display: none;
	}
	.feedback button{
		background-color: #0c457d;
		color: white;
		padding: 16px 16px;
		margin-left:40px;
		border: none;
		cursor: pointer;
		width: 200px;
	}
	
	.feedback button:hover {
	background-color: #0288d1;
	}	
	/* ==========FOOTER=============== */	
		footer{
		color: white;
		padding: 10px;
		font-size: 12px;
		background-color: #0c457d;
	}

	.three-columns{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.social{
		display: flex;
	}

	a>img{
		height: 40px;
		align-items: center;
	}

	.contacts{
		text-align: center;
	}

	.copy{
		width: 30%;
		text-align: center;
	}

	.copy span{
		display: block;
		color: #0288d1;
		font-weight: bold;
		font-size: 15px;
		margin: 0 auto;
	}

	.goup{
		font-size: 15px;
		font-weight: bold;
		padding-left: 5px;
	}

	.goup:hover{
		background-color: #fff;
	}


	/* ===============================PROGRAM PAGE================================== */
	.programkartu{
		display: flex;
		
		justify-content: center
	}

	.programkartu .table-one{
		min-width: 100%;
	}

	.programkartu img{
		max-width: 20%;
    	align-self: center;
	}


	/*============== gallery=========== */
	
		.roww {
			display: -ms-flexbox; /* IE10 */
			display: flex;
			-ms-flex-wrap: wrap; /* IE10 */
			flex-wrap: wrap;
			padding: 0 4px;
		}
				
		/* Create four equal columns that sits next to each other */
		.columnn {
			max-width: 50%;
			padding: 0 4px;
			margin: 0 auto;
		}
		.columnn img {
			margin-top: 8px;
			vertical-align: middle;
			opacity: 0.90;
			transition: transform .2s;
		}

		.columnn img:hover{
			transform: scale(1.02);
			opacity: 1;
			cursor: pointer;
		}





	/* ===================================Information page============================== */

	.information{
		background-color:white; 	text-align: center;
		padding:10px;
	}
	.sektorius{
		width:100%;
	}

	.table-one{
		width: 90%;
		margin: 0 auto;
		text-align: left;
		border-collapse: collapse;
		background-color:white;
	}

	th {text-align:center;
		padding: 5px;
		background-color:#0c457d;
		color: white;
	}

	td, th {
		border: 1px solid #dddddd;
		padding: 5px 5px 5px 35px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}

	a.reg-button {
		display: block;
		text-align:center;
		background-color:#0c457d;
		color: white;
		padding: 10px;
		margin: 10px auto;
		font-weight: bold;	
		text-decoration: none;
		width: 200px;
	}

	/* ==========FAQ=============== */
	.faq{
		background-color:#e1f5fe;  
		text-align: center;
		padding:10px;
	}

	.faqdrop{
		text-align: center;
		display: block;
		width: 90%;
		margin: 10px auto;
		padding: 20px;
	}

	button{
		width: 100%;
		padding: 10px;
		border:2px solid #e1f5fe;
		background-color:white;
	}

	button:hover{
		background-color:rgb(170, 223, 255);
		cursor: pointer;
	}

	.panel {
		padding: 0 18px;
		background-color: white;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}

	.faqdrop ul{
		text-align: left;
		list-style:none;
		padding-left:20px;
		padding-right:20px;
	}

	.faqdrop li {
		margin-bottom:15px;
	}
		
	.accordion:after {
		content: '\02795'; /* Unicode character for "plus" sign (+) */
		font-size: 13px;
		color: #0c457d;
		float: right;
		margin-left: 5px;
	}
		
	.active:after {
		content: "\2796"; /* Unicode character for "minus" sign (-) */
	}

	/*==============FOOD==============*/
	.food{
		background-color: #dddddd;
		text-align:center;
		padding:10px;
	}

	.foodcontainer{
		display:grid;
		grid-template-rows:    repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1px;
		color: white;
		width: 95%;
		margin: 10px auto;
		padding: 20px;
	}

	.foodcontainer > div{
		background-color:#0288d1;
	}

	.one{
		grid-row:    1 / 2;
		grid-column: 1 / 2;
		text-align: justify;
		padding: 50px 30px;
	}

	.two{
		grid-row:    1 / 2;
		grid-column: 2 / 3 ;
		background-image: url(http://www.surfcamppeaksnswells.com/pns/wp-content/uploads/2015/07/food1.jpg);
		background-position: center;
		background-size: cover;	
	}

	.three{
		grid-row:    2 / 3;
		grid-column: 1 / 2;
		background-image: url(https://img.purch.com/h/1000/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA3My80MzYvb3JpZ2luYWwva2lkcy1waXp6YS0xNTAxMTkuanBn);
		background-position: center;
		background-size: cover;
	}

	.four{
		grid-row:    2 / 3;
		grid-column: 2 / 3;
		padding: 50px 30px;
		text-align: justify;
	}
	/* ==========Location=============== */	
		
	.location{
		background-color: #ffffff;
		padding:10px;
		text-align:center;
	}

	.two-col{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width:80%;
		margin: 0 auto;
	}

	iframe{
		width:70%;
		height: 450px;
		padding: 20px 0;
	}

	/* =============================About Site======================================= */

	.aboutwrapper img {
		width: 60%;
		height: 60%;
	}

	.imagefirst 	{
		width: 100%;
		height: 60%;
		text-align: center;
	}

	.aboutsection { 
		display:flex;
		flex-wrap: wrap;
		margin:0 auto;
		padding:10px;
		justify-content: center;
	}

	.aboutsection_order{
		display:flex;
		flex-wrap: wrap;
		margin:0 auto;
		justify-content: center;
	}

	.aboutwrapper p{
		text-align: justify;
	}
		
	#imagefirst{
		order: 1;
	}
	
	#secondtext{
		display: flex;
		order: 2;
	}
	
	.missionblock, .historyblock {
		background-color:white;
		padding:10px;
	}
	.goulsblock , .safetyblock{
		padding: 10px;
		background-color:#e1f5fe;
		}
	.valuesblock , .resultsblock{
		padding: 10px;
		background-color:#dddddd;}

		
	/* ========================================REGISTRATION=============================== */	
	.registration{
		background-color: #dddddd;
		padding:10px;
		text-align:center;	
	}

	.registration section {
		margin: 0 auto; 
	}	
		
	.registration input[type=text], input[type=password] {
		width: 30%;
		max-width:300px;
		padding: 10px;
		margin: 5px 0 10px 0;
		display: inline-block;
		border: none;
		background: #ffffff;
	}

	.registration div
	{margin-right:15%;}

	.registration select {
		width: 30%;
		max-width:300px;
		padding: 10px;
		margin: 5px 0 10px 0;
		display: inline-block;
		border: none;
		background: #ffffff;
	}

	.registerbtn {
		background-color: #0c457d;
		color: white;
		padding: 16px 16px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 200px;
		}
		
	.registerbtn:hover {
	background-color: #0288d1;
	}	
		
	/* =======================================SPONSORS==================================== */

	.sponsors-section{
		padding: 25px 50px;
		text-align: center;
	}

	.boxed-section {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: center;
		flex-basis: auto;
		position: relative;
		height: auto;
		padding: 50px 50px;
	}

	.boxed-section>* {
		margin: 0px 40px 40px 0px;
	}

	.boxed-section a div {
		width: 200px;
		height: 120px;
	}

	.highlight-box>div {
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		box-shadow: 4px 4px 10px rgba(146,137,224,.4);
		border: 1px solid rgba(146,137,224,.1);
	}


	/*=============================BLOG================================*/

	.container-fluid{
	margin:0 auto;
	width: 95%;
	}

	.sectionb{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-start;
		text-align: justify;
		padding-bottom:30px;
	}
	.sectionb h3{
		text-align: center;
	}
	
.sectionb a:{
		text-decoration: none;
		text-align:center;
		padding:10px;
		
					
	}
	.sectionb a:hover{
		text-decoration: none;	
		color: #0288d1;
	}
	
	article.card{
		width: 32%;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		margin-top: 10px;
		background-color:  #f1f1f1; 
		
	}
.card p {
		padding:15px;
	}
	.card__image{
		padding-top: 66.64%; 
		/* becouse background has no height and we dont want to set it in px
		/* (img-height / img-width * container-width) */
					/* (853 / 1280 * 100) */
		width: 100%;
		height: 0; 
		background-size: contain;
		background-repeat: no-repeat;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom: none;
		margin:5px;
	}

   
	/* ==========PAGE Contact US  =============== */	

	.Contusc{
		margin: 0 auto;
		width: 100%;
		display:flex;
		justify-content: space-around;
		flex-wrap: wrap;
		}
	.Contusc h2{
		text-align=center;
	}
	
	.Contusc div{
		width: 50%;
		text-align:left;
		background-color:inherit;
		padding:20px;
	}	
	
	.Contusc form{
		width: 80%;
	}
	.Contusc form div{
		padding:1px;
	}
	.Contusc input[type=text], textarea {
		width: 100%;
		max-width:300px;
		padding: 10px;
		margin: 5px 0 10px 0;
		display: inline-block;
		border: 1px solid #0c457d;
		background: #ffffff;
	}
	
	.Contusc button{
		background-color: #0c457d;
		color: white;
		padding: 16px 16px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 200px;
	}
	
	.Contusc button:hover {
	background-color: #0288d1;
	}	
	
	.Contusc .location{
		width: 50%;
		text-align:left;
		background-color:inherit;
	}

	.Contusc .location p{
		margin-left:40px;
	}
	.Contusc .two-col{
		align-items: center;
		width:100%;
		margin: 0 auto;
	}
		
	.Contusc iframe{
		width:100%;
		height: 450px;
		padding: 0;
	}
	
	/* ==========BLOG POST  =============== */
	.blog-default{
		display: flex;
		flex-flow: column;
		width: 100%;
		margin: 0 auto;
		padding: 20px;
	}
	.blog-default img{
		width: 100%;
		padding:10px;
		
	}
	.blog-default p {
		text-align:justify;
		margin: 0;
		padding: 5px;
	}
	
	.blog-default ul{
		list-style: none;
		text-align:left;
		padding:0px 5px 5px 5px;}
	
	.blog-default li {
		text-align:justify;
		padding:0px 5px 5px 5px;
		}
	
	.blog-default h3 {
		text-align:left;
		color:#0c457d;
		margin:5px;}

}


/*============================================MOBILE========================================= */

@media only screen and (max-width: 600px){

	/* =========Mobile menu========== */
	body {
		font-family: 'Raleway', sans-serif;
		font-size: 12pt;
		color: black;
		}
	h2 {
		color: #0c457d;
		text-align:center;
		}
	a{
	text-decoration: none;
	color: #0c457d;
	}	
/* 
	header{
		width: 100%;
		margin: 0 auto;
		text-align: center;			
	} */


	.header-wrapper{
		background-color: #0c457d;
		display: flex;
		flex-wrap:wrap;
		justify-content:space-around;
	}
	
	.icon{
		position: relative;
	}
	
	header img{
		width: 30%;
		height: 30%;
		margin: 5px;
		}
	nav{
		width:100% 
	}
	
	.topnav {
	overflow: hidden;
	background-color:#0c457d;
	
	}
	
	.topnav a {
	float: left;
	display: none;
	
	color: #f2f2f2;
	text-align: center;
	margin-bottom: 5px;;
	padding: 5px 5px;
	text-decoration: none;
	font-size: 17px;
	}
	
	.active {
	background-color: #0288d1;
	color: #0c457d;
	}
	
	.topnav .icon {
	display: none;
	}
	
	.dropdown {
	  float: left;
	  overflow: hidden;
	}
	
	.dropdown .dropbtn {
	  font-size: 17px;    
	  border: none;
	  outline: none;
	  color: white;
	  padding: 5px 5px;
	  background-color: inherit;
	  font-family: inherit;
	  margin: 0;
	}
	
	.dropdown .dropbtn .dropdown-content{
	  color: #0c457d;
	}
	
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: lightblue;
	  min-width: 160px;
	  box-shadow: 0px 80px 160px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}
	
	.dropdown-content a {
	  float: none;
	  color: black;
	  padding: 5px 5px;
	  text-decoration: none;
	  display: block;
	  text-align: center;
	}
	
	.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: #0288d1;
	color: white;
	}
	
	.dropdown-content a:hover {
	  background-color: #ffffff;
	  color: black;
	}
	
	.dropdown:hover .dropdown-content {
	  display: block;
	}
	
	.topnav a:not(:first-child), .dropdown .dropbtn {
	  display: none;
	}
	.topnav a.icon {
	  float: inherit;
	  display: block;
	}
	
	/* .topnav.responsive {position: relative;} */

	.topnav.responsive .icon {
	  position: absolute;
	  right: 5px;
	  top: 5px;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: center;
	}
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {position: relative;}
	.topnav.responsive .dropdown .dropbtn {
	  display: block;
	  width: 100%;
	  text-align: center;
	  }

	  .icon hideondesktop{
		  padding: 200px;
	  }
	
	
/* ============SLIDER================ */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	width: 100%;
	position: relative;
	margin: auto;
	
}

/* Hide the images by default */
.mySlides {
	display: none;
}

.numbertext {
	display: none;
}


	/* Caption text */
.textslides {
	display: none;
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 2%;
	width: 100%;
	text-align: center;
}

/* .textslides span{
	background-color: rgba(192, 3, 3, 0.473);
	padding: 10px;
	border-radius: 20px;
} */

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.active, .dot:hover {
	background-color: #0c457d;
	border: none;
	color:white;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
	}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
	}




/* =====================HOME PAGE====================== */
/* ==========ABOUT=============== */

.about-home{
	padding: 5px;
	background-color:  #e1f5fe; /*#F37000 oranzine*/
	
}

 .faqdrop p{
	width: 100%;	
	margin: 0 auto;
	padding: 10px;
	font-size: 15px;
	color: #0c457d;
	text-align: justify;
}



/* ==========KIDS TEACHERS VOLUNTIEERS=============== */
	
.KTVcontainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
	margin: 0 auto;
}

.KTVcontainer section, .lectors-wrapper section, .parentfeedbacks section {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.075);
	}

.KTVcontainer section img {
	display: block; 
	margin: 0px auto;
	width: 100%;	
}

.KTVcontainer section h2{
	text-align: center;
	}

.KTVcontainer a {
	display:block;
	text-align:center;
	background-color:#0c457d;
	color: white;
	padding: 10px;
	margin: 20px auto;
	text-decoration: none;
} 

.KTVcontainer section a:hover	{
	text-decoration: none;
}

.about{
	font-size: 1em;
	text-align: center;
}

.text{
	padding: 10px;
	text-align:justify;
}
.regbtn{
	width: 50%;
	opacity: 0.8;
	  transition: 0.3s;
}
.regbtn:hover{
	opacity: 1;
}
	
		/*---------modal-------------*/
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 50px; /* Location of the box */
	   padding-left:30%;
		top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	.modal-content {
	position: relative;
	background-color: #ffffff;
	margin:0 ;
	padding: 0;
	border: 1px solid #888;
	width: 70%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
	}
	.modalbtn {
	background-color: #0c457d;
	color: white;
	padding: 16px 16px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 50%;
	}

	.modalbtn:hover {
	background-color: #0288d1;
	}	

	/* Add Animation */
	@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
	}

	@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
	}

	/* The Close Button */
	.close {
	padding: 5px 5px;
	   color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
	}

	.close:hover, .close:focus {
		color: #0288d1;
		text-decoration: none;
		cursor: pointer;
	}

	.modal-header {
		padding: 2px 16px;
		background-color: #0c457d;
		color: white;
	}
	.modal-header h2{
	color:white;
	}

	.modal-body {
	padding: 30px;
	text-align: center;

	}

	.modal-body input[type=text],select {
	width: 90%;
	max-width:400px;
	padding: 10px;
	margin: 5px 0 10px 0;
	display: inline-block;
	border: 1px solid #dddddd;
	background: #ffffff;
	}

	/* ==========LECTORS=============== */	

	.lectors-wrapper, .lectors{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; 
		padding: 10px;
		background-color:#f1f1f1;
	}

	.lectors-wrapper h2{
		padding:10px;
		margin:0 auto;
	}

	.lectsection{
		width: 100%;
		background-color: #ffffff;
		padding: 10px;	
	}

	.lectsection img{
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top:15px;
	}

	.lectinfo{
		text-align: justify;
		margin: 20px;	
		}

	.lectsection h3{
		text-align:center;
	}

	/* ==========PARENT FEEDBACKS=============== */	

	.parentfeedbacks{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; 
		padding: 20px;
		background-color: #e1f5fe;
		}	

	blockquote, q {
		quotes: none; 
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none; 
	}

	blockquote {
		border-left: solid 0.5rem;
		font-style: italic;
		margin: 0 0 2rem 2rem;
		padding: 1rem 0 1rem 2rem; 
	}

	blockquote {
		border-left-color: rgba(0, 0, 0, 0.25); 
		}

	.testimonials {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.testimonials > section{
		margin: 10px auto;
		justify-content: space-around;
		padding: 15px;
	}

	.testimonials > * {
		width: 33.3333333333%;
		}

	.testimonials > * {
		width: calc(33.3333333333% + 1rem); 
	}

	.testimonials .content {
		height: 100%;
		padding: 1rem; 
	}

	.testimonials .content .author {
		display: flex;
		align-items: center; 
	}

	.testimonials .content .author blockquote {
		margin: 0; 
		}

	.testimonials .content .author .image {
		width: 20%; 
	}

	.testimonials .content .author .image img {
		border-radius: 100%;
		max-width: 100%; 
	}

	.testimonials .content .credit {
		font-size: 0.7rem; 
	}

	.testimonials .content {
		box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); 
	}

	.testimonials .content .credit strong {
		color: #0c457d;
	}

	.credit{
		padding-left: 0.5rem;
	}
	
	 /*==========Feedback form=============== */	
	
	
	.feedback{
		background-color:white;
		
		}
	.feedback h2{
		text-align:center;
	}
	
	.feedback section{
		width: 100%;
		padding:10px;
	}	
	
	.feedback form{
		width: 80%;
		margin: 10px;;
	}
	.feedback form div{
		padding:1px;
	}
	.feedback input[type=text],.feedback textarea, .feedback input[type=number] {
		width: 100%;
		max-width:300px;
		padding: 10px;
		margin: 5px 0 10px 0;
		display: inline-block;
		border: 1px solid #dddddd;
		background: #ffffff;
	}
	
	.feedback input[name="empty"]{
		display: none;
	}
	.feedback button{
		background-color: #0c457d;
		color: white;
		padding: 16px 16px;
		margin-left:25px;
		border: none;
		cursor: pointer;
		width: 200px;
	}
	
	.feedback button:hover {
	background-color: #0288d1;
	}	

	/* ==========FOOTER=============== */	
	footer{
		color: white;
		padding: 10px;
		font-size: 12px;
		background-color: #0c457d;
		text-align: center;
		margin: 0 auto;
	}

	.three-columns{


	}

	.social{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a>img{
		height: 60px;
		align-items: center;
		margin: 10px 0;
	}

	.copy{
		width: 90%;
		text-align: center;
		margin: 0 auto;
	}

	.copy span{
		display: block;
		color: #0288d1;
		font-weight: bold;
		font-size: 20px;
		margin-top: 10px;
	}

	.goup{
		font-size: 15px;
		font-weight: bold;
		padding-left: 5px;
	}

	.goup:hover{
		background-color: #fff;
	}

	
	
	
	
/* =====================ABOUT page======================= */

.aboutwrapper{
	margin: 15px;	
}

.aboutwrapper img{
	width: 100%;
}

.aboutwrapper p{
	text-align: justify;
}

.aboutsection_order{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.imagefirst{
	width: 100%;
}

#imagefirst{
	order: 1;
}

#secondtext{
	display: flex;
	order: 2;
}


/* ===============================PROGRAM and Information PAGE================================== */
	
	
	.programkartu{
		display: flex;
		justify-content: center
	}

	.programkartu .table-one{
		min-width: 100%;
	}

	.programkartu img{
		max-width: 20%;
		align-self: center;
		
	}

	.information{
		background-color:white; 	text-align: center;
	}

	.sektorius{
		width:100%;
	}

	.table-one{
		width: 95%;
		margin: 0 auto;
		text-align: left;
		border-collapse: collapse;
		background-color:white;
	}

	th {text-align:center;
		padding: 5px;
		background-color:#0c457d;
		color: white;
	}

	td, th {
		border: 1px solid #dddddd;
		padding: 5px 5px 5px 35px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}

	a.reg-button {
		display: block;
		text-align:center;
		background-color:#0c457d;
		color: white;
		padding: 10px;
		margin: 10px auto;
		font-weight: bold;	
		text-decoration: none;
		width: 200px;
	}

	/* ==========FAQ=============== */
	.faq{
		background-color:#e1f5fe;  
		text-align: center;
		padding:10px;
	}

	.faqdrop{
		text-align: center;
		display: block;
		width: 95%;
		margin: 10px auto;
		padding: 20px;
	}

	button{
		width: 100%;
		padding: 10px;
		border:2px solid #e1f5fe;
		background-color:white;
	}

	button:hover{
		background-color:rgb(170, 223, 255);
		cursor: pointer;
	}


	.panel {
		padding: 0 18px;
		background-color: white;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}

	.faqdrop ul{
		text-align: left;
		list-style:none;
		padding-left:20px;
		padding-right:20px;
	}

	.faqdrop li {
		margin-bottom:15px;
	}
		
	.accordion:after {
		content: '\02795'; /* Unicode character for "plus" sign (+) */
		font-size: 13px;
		color: #0c457d;
		float: right;
		margin-left: 5px;
	}
		
	.active:after {
		content: "\2796"; /* Unicode character for "minus" sign (-) */
	}

	/*==============FOOD==============*/
	.food{
		background-color: #dddddd;
		text-align:center;
		padding:10px;
	}

	.foodcontainer{
		display:flex;
		flex-wrap: wrap;
		color: white;
		width: 98%;
		margin: 10px auto;
		
	}

	.foodcontainer > div{
		background-color:#0288d1;
		}

	.one{
		width: 100%;
		text-align: justify;
		padding: 50px 10px;
	}

	.two{
		width: 100%;
		height: 300px;
		background-image: url(http://www.surfcamppeaksnswells.com/pns/wp-content/uploads/2015/07/food1.jpg);
		background-position: center;
		background-size: cover;	
	}

	.three{
		width: 100%;
		height: 300px;
		background-image: url(https://img.purch.com/h/1000/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA3My80MzYvb3JpZ2luYWwva2lkcy1waXp6YS0xNTAxMTkuanBn);
		background-position: center;
		background-size: cover;
	}

	.four{
		width: 100%;
		text-align: justify;
		padding: 50px 10px;
	}

	
	
	/* =====================SPONSORS======================= */


	.sponsors-section{
		padding: 25px 50px;
		justify-content: center;
		margin: 0 auto;
		text-align: center;
	}

	.boxed-section {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: center;
		flex-basis: auto;
		position: relative;
		height: auto;
		padding: 50px 50px;
	}

	.boxed-section>* {
		margin: 0px 0px 40px 0px;
	}

	.boxed-section a div {
		width: 200px;
		height: 120px;
	}

	.highlight-box>div {
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		box-shadow: 4px 4px 10px rgba(146,137,224,.4);
		border: 1px solid rgba(146,137,224,.1);
	}
	
	
	/* =====================BLOG PAGE CSS======================= */
	.container-fluid{
	margin:0 auto;
	width: 100%;
	}

	.sectionb{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-start;
		text-align: justify;
		width: 100%;
		
	}
	.sectionb h3{
		text-align: center;
	}
    .sectionb a:{
		text-decoration: none;
		text-align:center;
	     padding:10px;}
		
	.sectionb a:hover{
		text-decoration: none;	
		color: #0288d1;
	}

	article.card{
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		margin-top: 10px;
		background-color:  #f1f1f1; 
		padding:10px;
	}
	.card_body{
		width: 90%;
		margin: 0 auto;
	}

	.card__image{
		padding-top: 66.64%; 
		/* becouse background has no height and we dont want to set it in px
		/* (img-height / img-width * container-width) */
					/* (853 / 1280 * 100) */
		width: 100%;
		height: 0; 
		background-size: contain;
		background-repeat: no-repeat;
		background-repeat: no-repeat;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin:5px;
	}
.card p {
		padding:15px;
	}
/* ==========Location=============== */	
		
	.location{
		background-color: #ffffff;
		padding:10px;
		text-align:center;
	}

	.two-col{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		width:100%;
		margin: 0 auto;
	}

	iframe{
		width:100%;
		height: 450px;
		padding: 20px 0;
	}
	
	/* ==========BLOG POSTs  =============== */
	.blog-default{
		display: flex;
		flex-flow: column;
		width: 90%;
		margin: 0 auto;
		padding: 20px;
	}
	.blog-default img{
		width: 90%;
		margin: 0 auto;
		padding:10px;				
	}
	.blog-default p {
		width: 90%;
		text-align:justify;
		margin: 0;
		padding: 5px;
	}
	
	.blog-default ul{
		width: 90%;
		list-style: none;
		text-align:left;
		padding:0px 5px 5px 5px;}
	
	.blog-default li {
		text-align:justify;
		padding:0px 5px 5px 5px;
		}
	
	.blog-default h3 {
		width: 90%;
		text-align:left;
		color:#0c457d;
		margin:5px;}
}

/* ==========PAGE Contact US  =============== */	
	
	.Contusc h2{
		text-align:center;
	}
		.Contusc form{
		width: 80%;
		padding:5px;
	}
	.Contusc form div{
		padding:1px;
	}
	.Contusc input[type=text], textarea {
		width: 100%;
		max-width:300px;
		padding: 10px;
		margin: 5px 0 10px 0;
		display: inline-block;
		border: 1px solid #0c457d;
		background: #ffffff;
	}
	
	.Contusc button{
		background-color: #0c457d;
		color: white;
		padding: 16px 16px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 200px;
	}
	
	.Contusc button:hover {
	background-color: #0288d1;
	}	
	
	

	.Contusc .location p{
		margin-left:10px;
	}
	.Contusc .two-col{
		align-items: center;
		width:100%;
		margin: 0 auto;
	}
		
	.Contusc iframe{
		width:90%;
		height: 450px;
		padding:15px;
	}

}



